.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: rgb(0, 119, 128);
  border-radius: 0 0 20px 20px;
  flex-direction: column;
}

header {
  display: flex;
  width: 99%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 5px;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  border-radius: 0 0 10px 10px;

  animation: apearsLine ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  h1 {
    color: #fff;
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
p {
  color: #05101d;
  font-weight: 800;
  margin: 0;
}

@keyframes apearsLine {
  0% {
    border-bottom: 4px solid #05101d;
    opacity: 0.1;
  }
  20% {
    border-bottom: 4px solid #05101d;
    opacity: 0.1;
  }
  55% {
    border-bottom: 4px solid #05101d;
    opacity: 0.6;
  }
  100% {
    border-bottom: 4px solid #05101d;
    opacity: 1;
  }
}
