#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #05101d;
}

.home-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.left-container {
  display: flex;
  width: 30%;
  background: rgb(0, 119, 128);
  border-radius: 0 50px 50px 0;
}

.left-line {
  position: absolute;
  display: flex;
  border-radius: 0 50px 50px 0;
  width: 27%;
  top: 5vh;
  height: 90vh;

  animation: apearsLine ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes apearsLine {
  20% {
    border-top: 4px solid #05101d;
    opacity: 0.1;
  }
  55% {
    border-right: 4px solid #05101d;
    opacity: 0.6;
  }
  100% {
    border-top: 4px solid #05101d;
    border-right: 4px solid #05101d;
    border-bottom: 4px solid #05101d;
    opacity: 1;
  }
}

.title {
  display: flex;
  width: 90%;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.right-container {
  display: flex;
  width: 68%;
  align-items: center;
}
